body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: url("/src/weather.jpg") no-repeat center center fixed;
}

code {
  font-family: 'Poppins', sans-serif;
}

a:link, a:visited,  a:hover, a:active{
  color: white;
  text-decoration-color: white;
}

footer{
  color: white;
  text-decoration: white;
}

